<div class="app-weather text-white"
  style="padding: 15px 0px; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
  <div class="row m-0">
    <div class="col-md-3 col-lg-4">
      <div class="row m-0">
        <div class="col-6" style="min-width: max-content;">
          <h1 class="mb-1">{{this.location?.localizedName}}</h1>
          <h5 class="mb-1">{{this.location.forecast.headline.effectiveDate | date:'EEEE, MMMM d, y'}}</h5>
          <h5 class="mb-1">{{this.location?.conditions.weatherText | titlecase}}</h5>
          <hr>
          <span>
            <h1 style="display: inline;">{{this.location?.conditions.temperature.metric.value}}</h1>
            {{this.location?.conditions.temperature.metric.unit}}
            <small class="ml-2 mr-2"> / </small>
            <h1 style="display: inline;">{{this.location?.conditions.temperature.imperial.value}}</h1>
            {{this.location?.conditions.temperature.imperial.unit}}
          </span>
        </div>
        <div class="pl-0 col-6 pt-3 text-right" style="display: flex; align-items:flex-end;">
          <button type="button" class="btn btn-lg" (click)="this.toggleFavorite()"
              [ngStyle]="{'color': this.location.isFavorite ? '#e681b3' : 'white'}"> <i
                class="fa fa-heart"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-lg-8 text-right">
      <img src="{{this.location.conditions.getIcon()}}" style="max-width: 350px;">
    </div>
  </div>
  <div style="flex: auto; overflow-x: hidden; overflow-y: auto;">
    <div class="row m-0 p-4">
      <div class="shadow col-md-12 col-lg-12 col-xl m-1"
        style="background: linear-gradient(to bottom, #3b8afd, #1A88FF, #69a5fe); height: 125px; min-width: 125px; border-radius: 10px;"
        *ngFor="let item of this.location.forecast.forecasts">
        <p style="margin: 0px;">{{item.date | date: 'EEEE'}}</p>
        <div style="height: 100px; display: flex; align-items: center; justify-content: space-around;">
          <img [src]="item.day.getIcon()" style="height: 70%;">
          <div class="">
            <div>
              Min: <h5 style="display: inline;">{{item.temperature.minimum.value}}</h5>
              {{item.temperature.minimum.unit}}
            </div>
            <hr>
            <div>
              Max: <h5 style="display: inline;">{{item.temperature.maximum.value}}</h5>
              {{item.temperature.maximum.unit}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- style="min-width: 100px; flex: auto; height: 150px;" -->
<!-- style="display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;" -->