<div class="app-header flex">
  <div class="header-items">
    <img class="header-image" src="../../../assets/images/logo.png">
    <a class="btn" routerLink="" pRipple>
      <i class="fa fa-home"></i>
      <span class="action-text">Main</span>
    </a>
    <a class="btn" routerLink="favorites" pRipple>
      <i class="fa fa-star"></i>
      <span class="action-text">Favorites</span>
    </a>
  </div>
  <div class="header-date" style="font-size: larger;">{{this.currentDate | date: 'EEEE MMMM d, y'}}</div>
  <div class="header-actions">
    <a class="btn" target="_blank" href="https://github.com/Probeh/Yonathan-Probeh-04-04-2021" pRipple><i
        class="fa fa-github"></i></a>
    <a class="btn" target="_blank" href="../../../docs/overview.html" pRipple><i class="fa fa-code"></i></a>
    <a class="btn" (click)="this.toggleSidenav()" pRipple><i class="fa fa-bars"></i></a>
  </div>
</div>