@import "common.scss";

.app-header {
  @extend .shadow;
  * {
    color: white;
    max-height: 40px;
  }
  align-items: center;
  background: linear-gradient(to right, lighten($color: $color-primary, $amount: 5%), lighten($color: $color-primary, $amount: 10%), lighten($color: $color-primary, $amount: 20%));
  display: flex;
  height: $navbar-height;
  justify-content: space-between;
  padding: 0px 15px;

  .header-items {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .header-actions {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.btn {
  .fa {
    font-size: 15px;
  }
  .action-text {
    @media screen and (max-width: 650px) {
      display: none;
    }
    @media screen and (min-width: 650px) {
      margin-left: 5px;
    }
  }
  align-items: center;
  border-color: transparent;
  border-radius: 10px;
  display: flex;
  height: calc(#{$navbar-height}* 0.8);
  justify-content: center;
  margin: 0px 0px 0px 15px;
  min-width: $navbar-height;
  transition: ease-in-out 200ms;
}
.btn:hover {
  transition: ease-in-out 200ms;
  @extend .shadow;
}
