<div class="app-search container p-5 shadow">
  <div class="shadow">
    <p-autoComplete #search [suggestions]="this.suggestions$ | async" [emptyMessage]="'No results'"
      (onSelect)="this.onSelect($event)" (completeMethod)="this.onSearch($event)" [pKeyFilter]="this.searchPattern"
      [minLength]=3 [placeholder]="'Search'" [autoHighlight]="true" [field]="'LocalizedName'" [completeOnFocus]="true">
      <ng-template let-result pTemplate="item">
        <div style="display: flex; align-items: center;">
          <img src="{{result.getFlag()}}" style="margin-right: 15px;">
          {{result.toString()}}
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <hr>
  <app-weather></app-weather>
</div>