<div class="app-search container">
  <div class="search-header">
    <div class="header-title">
      <i class="fa fa-search"></i>Search
    </div>
    <div class="search-options">
      <p-tabMenu [model]="this.searchOptions" [activeItem]="this.currentOption"></p-tabMenu>
    </div>
  </div>
  <div class="search-form" [ngSwitch]="this.currentOption.label">
    <div class="form-autocomplete" *ngSwitchCase="'Location'">
      <label>Location</label>
      <p-autoComplete [suggestions]="this.suggestions$ | async" [emptyMessage]="'No results'"
        (onSelect)="this.onSelect($event)" (completeMethod)="this.onSearch($event)" [pKeyFilter]="this.searchPattern"
        [minLength]=3 [placeholder]="'Search Location'" [autoHighlight]="true" [field]="'localizedName'"
        [completeOnFocus]="true">
        <ng-template let-result pTemplate="item">
          <div style="display: flex; align-items: center;">
            <img src="{{result.flagIcon()}}" style="margin-right: 15px; border-radius: 50%;">
            {{result.toString()}}
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
    <form [formGroup]="this.coordinatesForm" (ngSubmit)="this.onSubmit($event)" class="form-coordinates"
      *ngSwitchCase="'Coordinates'">
      <div class="input-col">
        <label for="lat">Latitude</label>
        <input formControlName="lat" type="number" placeholder="Lat" class="form-control" autocomplete="off" />
        <ng-container [ngTemplateOutlet]="invalidInput" [ngTemplateOutletContext]="{ control: 'lat' }">
        </ng-container>
      </div>
      <div class="input-col">
        <label for="lng">Longitude</label>
        <input formControlName="lng" type="number" placeholder="Lng" class="form-control" autocomplete="off" />
        <ng-container [ngTemplateOutlet]="invalidInput" [ngTemplateOutletContext]="{ control: 'lng' }">
        </ng-container>
      </div>
      <div class="input-col">
        <button type="submit" pRipple class="btn text-white bg-indigo btn-block"
          [disabled]="this.coordinatesForm.invalid" style="height: 35px; margin-top: 21px;"
          [ngStyle]="{'opacity': this.coordinatesForm.invalid ? '50%' : '100%'}">
          <i class="fa fa-compass"></i></button>
      </div>
    </form>
  </div>

</div>

<ng-template #invalidInput let-control>
  <small class="p-error"></small>
</ng-template>