@import "common.scss";
.app-search {
  margin-bottom: 10px;
  max-width: 100%;
  padding: 10px 0px;
  .search-header {
    align-items: center;
    color: $color-text;
    display: flex;
    font-size: 32px;
    justify-content: space-between;
    padding: 5px;
    .header-title {
      align-items: center;
      display: flex;
      padding-right: 10px;
      .fa {
        font-size: smaller;
        margin-right: 10px;
      }
    }
    .search-options {
      flex: auto;
      padding-left: 10px;
    }
  }
  .search-form {
    padding: 10px 0px;
    .form-autocomplete {
      display: flex;
      flex-direction: column;
      padding: 0px 2.5px;
    }
    .form-coordinates {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0px;
    }
  }
}
label {
  color: $color-text;
  margin: 0px;
}
.form-control.ng-invalid:not(.ng-pristine) {
  border: 2px solid red;
  color: $color-text;
}
.form-control.ng-valid:not(.ng-pristine) {
  border: 2px solid $color-teal;
  color: $color-text;
}
.form-control.ng-invalid:not(.ng-pristine):focus {
  background: lighten($color: red, $amount: 40%);
  border: 2px solid red;
  color: red;
  transition: ease-in-out 300ms;
}
.form-control.ng-valid:not(.ng-pristine):focus {
  background: lighten($color: $color-teal, $amount: 40%);
  border: 2px solid $color-teal;
  color: #28a745;
  transition: ease-in-out 300ms;
}
.input-col {
  flex: auto;
  padding: 0px 2.5px;
}
