@import "common.scss";
.carousel {
  color: white;
}
.carousel-item {
  height: 400px;
}
.carousel-caption {
  background: black   ;
  bottom    : 0px     ;
  left      : 0px     ;
  opacity   : 40%     ;
  padding   : 25px 0px;
  position  : absolute;
  width     : 100%    ;
}
