<div class="row m-0 p-4">
  <div class="shadow col-md-12 col-lg-12 col-xl m-1"
    style="background: linear-gradient(to bottom, #3b8afd, #1A88FF, #69a5fe); height: 125px; min-width: 125px; border-radius: 10px;"
    *ngFor="let item of this.favorites">
    <p style="margin: 0px;">{{item.localizedName}}</p>
    <div style="height: 100px; display: flex; align-items: center; justify-content: space-around;">
      <img [src]="item.conditions.getIcon()" style="height: 70%;">
      <div class="">
        <h5>{{item.conditions.weatherText}}</h5>
        <hr>
        <h5 style="display: inline;">{{item.conditions.temperature.metric.value}}</h5>
        {{item.conditions.temperature.metric.unit}}
      </div>
    </div>
  </div>
</div>